html{
    @include laptop {
        font-size: 15px;
    }
    @include tablet {
        font-size: 14px;
    }
    @include mobile {
        font-size: 13px;
    }
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: "Inter", sans-serif;
    line-height: 1.3;
    letter-spacing: -0.04em;
}

:root{
    --grid-margin: 3.75rem;
    --grid-spacing: clamp(5rem, 8vw, 10rem);

    @include tablet {
        --grid-margin: 2.5rem;
    }

    @include mobile {
        --grid-margin: 2rem;
    }
}

::-webkit-selection {
    background: rgba(135, 135, 135, .35);
    color:#fff;
}
::-moz-selection {
    background: rgba(135, 135, 135, .35);
    color:#fff;
}
::selection {
    background: rgba(135, 135, 135, .35);
    color:#fff;
}

.pc-only{
    @include tablet {
        display: none !important;
    }
}

.tb-show{
    display: none !important;
    @include tablet {
        display: block !important;
    }
}

.mo-only{
    display: none !important;
    @include mobile {
        display: block !important;
    }
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0);
    white-space: nowrap;
}

.scroll-lock {
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    touch-action: none;
}

.skip-menu{
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 50%;

    a {
        position: absolute;
        display: block;
        top: -60px;
        transform: translateX(-50%);
        background-color: $color-black;
        padding: 13px 30px;
        color: $color-white;
        white-space: nowrap;

        &:focus {
            top: 20px;
        }
    }
}

.sticky{
    position: sticky;
    top: 0;
    height: 100vh;
}

.line{
    overflow: hidden;
    display: inline-block;
}