.footer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-white;
    
    &__info {
        position: relative;
        width: 100%;
        height: 80vh;
        z-index: 1;
        background-color: $color-white;
        @include noiseBg;

        @include tablet {
            height:50vh;
        }

        &-title{
            font-size: 16.5vw;
            line-height: 1;
            mix-blend-mode: difference;
            color: $color-white;
            position: relative;
            z-index: 2;
            text-align: center;
        }

        &-profile{
            position: absolute;
            z-index: 3;
            max-width: calc(250/ 1920*100vw);
            top: 20vh;
            left: 50%;
            transform: translateX(-50%) rotate(10deg);
            
            @include tablet {
                max-width: 200px;
                top:90px;
            }

            @include mobile{
                max-width: 120px;
                top:75px;
            }
        }

        &-bg{
            position: absolute;
            z-index: 1;
            bottom:0;
            left:0;
            width:100%;
            height:0;
            background-color: $color-black;
        }
    }

    &__contact{
        position: relative;
        z-index: 1;
        width: 100%;
        background-color: $color-black;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 1.25rem;

        &-list {
            li {
                font-size: 3.125rem;
                font-weight: 600;
                line-height: 1.2;

                @include tablet {
                    font-size: 30px;
                }

                @include mobile {
                    font-size: 20px;
                }
            }
        }

        &-btm{
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-top: 1px solid rgba(255,255,255,0.2);
            margin-top: 1.25rem;
            padding: 2.5rem 0;

            @include tablet {
                flex-direction: column;
                gap: 1.5rem;
            }

            @include mobile {
                gap: 1rem;
                padding: 2rem 0;
            }
        }

        &-text{
            color:rgba(255,255,255,0.4);
        }

        &-sns-list{
            display: flex;
            gap: 3.75em;
            justify-content: center;

            @include tablet {
                gap: 1.25rem;
            }
        }
    }
}