/* Header */
.header {
    position: fixed;
    z-index: 999;
    padding: 10px 10px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    --menu-width: 110px;
    --menu-height: 45px;

    @include mobile {
        --menu-width: 80px;
        --menu-height: 33px;
    }

    &__logo {
        font-size: 1.25rem;
        font-weight: 300;

        @include tablet {
            font-size: 1.2rem;
        }

        @include mobile {
            font-size: 1.1429rem;
        }
        
        em{
            font-weight: 600;
            font-style: normal;
        }
    }
}

.menu-trigger {
    width: var(--menu-width);
    height: var(--menu-height);
    line-height: var(--menu-height);
    text-align: center;
    background-color: $color-black;
    color: $color-white;
    font-size: 13px;
    text-transform: uppercase;

    @include mobile {
        font-size:10px;
    }
}

.menu {
    position: fixed;
    z-index: -1;
    top:0;
    right:0;

    &__inner{
        position: absolute;
        background-color: $color-black;
        color: $color-white;
        width: var(--menu-width);
        height: var(--menu-height);
        top: 10px;
        right: 10px;
        overflow: hidden;
    }

    &__wrap{
        display: flex;
        flex-direction: column;
        padding: 3.75rem 3.75rem 2.5rem 2.1875rem;
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
    }

    .gnb {
        overflow: hidden;

        &__list {
            display: flex;
            flex-direction: column;
            gap: 5px;

            @include tablet {
                gap: 0;
            }
        }

        &__item{
            font-size: 1.875rem;
            white-space: nowrap;

            @include tablet {
                font-size: 1.5625rem;
            }

            a {
                display: flex;
                align-items: center;
                position: relative;
                left: -3.125rem;
                transition: left 0.5s;

                &:before{
                    content: '';
                    display: inline-block;
                    position: relative;
                    width: 3.125rem;
                    height: 3.125rem;
                    background: url(../images/menu-arrow.webp) no-repeat left center / 45px;

                    @include tablet {
                        background-size: 38px;
                    }

                    @include mobile {
                        background-size: 35px;
                    }
                }

                &:hover,
                &:focus {
                    left: 0;
                }
            }
        }
    }

    &__sns{
        display: flex;
        gap: 40px;
        margin-top: 50px;

        &-item{
            color:$color-gray;
            font-weight: 500;
        }
    }
}