/* Container */
#container{
    position: relative;
    @include noiseBg;
}

/* Sec Common */
.sec {
    position: relative;
    text-transform: uppercase;

    &__heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1.5625rem;

        @include tablet {
            gap: 1rem;
        }

        @include mobile {
            gap: 0.8rem;
        }
    }

    &__title{
        font-size: 8.125rem;
        line-height: 0.9;
        font-weight: 600;
        letter-spacing: -0.05em;

        @include laptop {
            font-size: 6rem;
        }

        @include tablet {
            font-size: 3.5rem;
            line-height: 1;
        }

        @include mobile {
            font-size: 2.5rem;
        }
    }

    &__subtitle {
        font-size: 3.875rem;
        line-height: 1;

        @include laptop {
            font-size: 3.2em;
        }

        @include tablet {
            font-size: 2.5rem;
            line-height: 1;
        }

        @include mobile {
            font-size: 2rem;
        }
    }

    &__desc{
        span{
            opacity: 0.4;
        }
    }
}

/* Intro */
.intro {
    position: fixed;
    z-index: 1000;
    background-color: $color-black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__heading {
        justify-content: flex-end;
    }

    &__text{
        color: $color-white;
        font-size: 1.625rem;
        color: $color-gray;
        font-weight: 200;
        
        @include mobile {
            font-size: 1.4286rem;
        }

        em{
            font-style: normal;
            color: $color-white;
            font-weight: 500;
        }
    }
}
/* main */
.main {
    opacity: 0;

    &__heading {
        position: relative;
        height: 600px;
        padding-bottom: 100px;
        font-size: 1.125rem;
        justify-content: flex-end;

        @include tablet {
            height: 500px;
            padding-bottom: 60px;
            font-size: 1rem;
        }

        @include mobile {
            height: 360px;
            padding-bottom: 40px;
        }

        .main__label{
            letter-spacing: 0.08em;
        }

        .main__title {
            font-size: 8.125rem;
            letter-spacing: normal;

            @include tablet {
                font-size: 5rem;
            }
    
            @include mobile {
                font-size: 4rem;
            }
        }
    }

    &__content{
        position: relative;
        height: 800vh;

        @include tablet {
            height: auto;
        }

        &-inner{
            display: flex;
            width: max-content;

            @include tablet {
                position: static;
                flex-direction: column;
                height: auto;
            }

            > div {
                flex-shrink: 0;
            }
        }
    }

    .visual {
        position: relative;
        display: flex;
        align-items: center;
        width: max-content;
        height: 100vh;

        @include tablet {
            flex-direction: column;
            height: auto;
        }
        
        > div {
            flex-shrink: 0;
        }
        
        &__img-area {
            width: 100vw;
            height: 100%;
            overflow: hidden;

            @include mobile {
                height: 35vh;
            }
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__about{
            position: relative;
            z-index: 1;
            &-img{
                max-width: 426px;

                @include mobile {
                    max-width: 260px;
                }
            }

            @include tablet {
                margin-top: 7rem;
            }

            &-text-box{
                @include tablet {
                    display: flex;
                    justify-content: center;
                }

                .visual__about-text{
                    max-width: 240px;
    
                    @include tablet {
                        text-align: center;
                        margin-top: 0.5rem;
                    }

                    @include mobile {
                        max-width: 180px;
                    }
                }
            }
        }

        &__always {
            position: relative;
            width: 100vw;
            height: 100vh;
            @include noiseBg;
            --target: 100%;
            background: linear-gradient(to right, #fff var(--target), #000 var(--target));

            @include tablet {
                height: 200vh;
            }
            
            &-inner {
                width:100%;
                height:100vh;
                display: flex;
                align-items: center;
                justify-content: center;

                @include tablet {
                    position: sticky;
                    top: 0;
                }
            }

            &-text {
                position: relative;
                font-size: 22vw;
                letter-spacing: -0.05em;
                line-height: 1;
                z-index: 1;
                background: linear-gradient(to right, #000 var(--target), #fff var(--target));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                width: 100%;
                text-align: center;

                &:before,
                &:after {
                    content:'';
                    position: absolute;
                    width: calc(280 / 1920* 100vw);
                    height: calc(180 / 1920* 100vw);
                }

                &:before{
                    background:url(../images/main-always-02.jpg) no-repeat center center / cover;
                    left:4.5vw;
                    bottom:-4vw;
                    transform: rotate(-5deg);
                }
    
                &:after{
                    background:url(../images/main-always-01.jpg) no-repeat center center / cover;
                    right:5vw;
                    top:-3vw;
                    transform: rotate(5deg);
                }
            }
        }
    }

    .service {
        width: 100vw;
        height: 100%;
        display: flex;
        align-items: flex-start;

        @include tablet {
            flex-direction: column;
        }

        > div {
            flex-basis: 0;
            flex-grow: 1;
        }

        &__text-wrap{
            position: relative;
            width: 100%;

            .service__text-bg{
                width: 100%;
                height: 100vh;
                overflow: hidden;

                @include tablet {
                    position: sticky;
                    top: 0;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .service__text-box{
                position: absolute;
                text-align: center;
                color: $color-white;
                width: 100%;
                top: 100%;
                padding-bottom: 10vh;

                @include tablet {
                    position: relative;
                    top: 0;
                }
    
                .service__title {
                    font-weight: 300;
    
                    em {
                        font-weight: 500;
                        font-style: normal;
                    }
                }
    
                .service__list {
                    margin-top: 5rem;

                    @include tablet {
                        margin-top: 4rem;
                    }

                    @include mobile {
                        margin-top: 3rem;
                    }

                    li {
                        margin-bottom: 2.5rem;

                        @include tablet {
                            margin-top: 2rem;
                        }

                        @include mobile {
                            margin-top: 1.5rem;
                        }
                    }
                }
            }
        }

        &__img-wrap {
            display: flex;
            flex-wrap: wrap;

            @include tablet {
                padding: 0 1.25rem;
                margin-top: 1.25rem;
            }

            @include mobile {
                padding: 0 1.25rem;
                margin-top: 1.25rem;
            }

            .service__img-box{
                position: relative;
                width: 50%;
                height: 60vh;
                display: flex;

                @include tablet {
                    height: auto;
                    padding: 5px;
                }

                img {
                    position: absolute;
                    object-fit: cover;
                    max-width: 100%;
                    max-height: 453px;

                    @include tablet {
                        position: static;
                        max-width: 100%;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        max-height: 400px;
                    }

                    @include mobile {
                        max-height: 200px;
                    }
                }

                @include pc {
                    &:nth-child(1) img {width: 260px; height: 290px; top: 20px; left: 20px;}
                    &:nth-child(2) img {width: 300px; top:0; right:0;}
                    &:nth-child(3) img {width: 400px; left: 4vw; bottom: 0;}
                    &:nth-child(4) img {width: 175px; height: 186px; top:10vw; right:0;}
                    &:nth-child(5) img {width: 300px; left: 4vw; bottom: -5vw;}
                    &:nth-child(6) img {width: 260px; height: 295px; top: 5vw; right: 3vw;}
                    &:nth-child(7) img {width: 175px; height: 186px; left: 2vw; bottom: 6vw;}
                    &:nth-child(8) img {width: 400px; right:0; bottom: 0;}
                }
            }
        }
    }
}

.about {
    position: relative;
    margin-top: var(--grid-spacing);

    &__content{
        position: relative;
        z-index: 2;
        color: $color-white;
        padding: 0 var(--grid-margin);
    }

    &__contact {
        padding-top: 1.875rem;
        padding-bottom: var(--grid-spacing);
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        @include tablet {
            padding-top: 3rem;
            gap: 2em;
        }

        @include tablet {
            gap: 1.5em;
        }

        &-title{
            max-width: 1650px;
        }

        &-desc{
            max-width: 500px;
        }
    }

    &__order {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: var(--grid-spacing) 0;
        text-align: center;
        border-top: 1px solid $color-white;
        gap: 2.5rem;

        @include tablet {
            gap: 2rem;
        }
        
        &-text {
            font-weight: 600;
            max-width: 1280px;

            .about__order-name{
                font-weight: 300;
            }
        }
    }

    &__bg{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height: 100%;
        overflow: hidden;
        z-index: 1;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.project {
    background-color: $color-black;
    padding-top: var(--grid-spacing);
    color: $color-white;

    &__heading {
        padding-top: 20px;
        height: auto;
    }

    &__card {
        position: relative;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        padding: 0 20px;
        counter-reset: number;
        z-index: 1;
        margin-top: 100vh;
        padding-bottom: 50vh;

        @include tablet {
            grid-template-columns: 1fr;
            margin-top: 60px;
        }

        &-item{
            background-color: #111111;
            width: 100%;
            height: calc(440 / 1920* 100vw);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px 20px 25px 25px;

            @include pc{
                &:nth-child(1){grid-column: 2;}
                &:nth-child(2){grid-row:2; grid-column: 1;}
                &:nth-child(3){grid-row:2; grid-column: 4;}
                &:nth-child(4){grid-row:2; grid-column: 5;}
                &:nth-child(5){grid-row:3; grid-column: 3;}
                &:nth-child(6){grid-row:3; grid-column: 4;}
            }

            @include tablet{
                max-width: 300px;
                height: 340px;

                &:nth-child(2n-1) {
                    margin-left: auto;
                }

                &:nth-child(2n) {
                    margin-right: auto;
                }
            }

            &:before {
                content: ""counter(number)"-0"counter(number)"";
                counter-increment: number;
                position: relative;
                color: $color-white;
                font-size: 0.9em;
                opacity: 0.4;
                font-style: italic;
                align-self: flex-end;
            }

            p{
                max-width: 90%;
            }

        }
    }

    &__case {
        height: 300vh;

        &-list {
            display: flex;
            align-items: center;
            height: 100%;
            overflow: hidden;
        }

        &-item{
            display: flex;
            align-items: center;
            width: 100vw;
            flex-shrink: 0;
            padding: calc(100 / 1920* 100vw);
            height: 100%;

            &-content{
                position: relative;
                display: flex;
                justify-content: center;
                text-align: center;
            }

            &-desc{
                position: absolute;
                max-width: 450px;
                top: 50px;

                @include tablet {
                    top: 30px;
                }

                @include tablet {
                    max-width: 90%;
                }
            }

            &-title {
                position: absolute;
                bottom:-62px;

                @include tablet {
                    bottom: -42px;
                }

                @include mobile {
                    bottom: -26px;
                }
            }

            &-link {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                top:0;
                left:0;
            }

            &-img{
                width: 100%;

                @include mobile {
                    height: 50vh;
                }

                img{
                    width: 100%;
                    height:100%;
                    object-fit: cover;
                }
            }
        }

        &-cursor{
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999;
            width: 150px;
            overflow: hidden;
            transform: scale(0);
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.5s, transform 0.5s;

            &.on{
                opacity: 1;
                transform: scale(1);
            }

            &-img{
                position: relative;
                width: 150px;
                height: 70px;

                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;

                    &.on {
                        opacity: 1;
                    }
                }
            }

            &-text {
                font-size: 1.4vw;
                letter-spacing: -0.1em;
                text-align: center;
                line-height: 1;
                color: $color-black;
                background-color: $color-white;
                white-space: nowrap;
            }
        }
    }
}

.testimonial {
    position: relative;
    padding: calc(var(--grid-spacing) + 6.25rem) 1.25rem;
    background-color: $color-black;
    color: $color-white;
    z-index: 1;

    &__heading {
        position: relative;
        .testimonial__title {
            max-width: 1740px;

            @include tablet {
                max-width: 680px;
            }
        }
    }

    &__list {
        position: relative;
        margin-top: 6.25rem;
        border-bottom: 1px solid rgba(255,255,255,.4);
    }

    &__item {
        border-top: 1px solid rgba(255,255,255,.4);

        a{
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: padding 0.5s, background-color .5s;

            @include tablet {
                padding: 1rem 0;
            }

            &:hover {
                padding: 0 1.25rem;
                background-color: rgba(255,255,255,.05);

                @include tablet {
                    padding: 1rem 1.25rem;
                }
            }
        }

        &-name{
            font-size: 3.75rem;
            width: 65%;

            @include laptop {
                font-size: 3rem;
            }

            @include tablet {
                font-size: 1.8rem;
            }

            @include mobile {
                font-size: 1.2857rem;
            }
        }

        &-time {
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
            
            &:before{
                content: 'LISTEN...';
                position: relative;
                display: block;
                opacity: 0.4;
            }
        }
    }

    // 호버 시 이미지 on
    &__cursor{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        opacity: 0;
        width: 200px;
        height:0;
        overflow: hidden;
        pointer-events: none;
        transition: height 0.5s, opacity 0.5s 0.1s;

        &.on{
            height: 296px;
            opacity: 1;
        }

        &-img {
            width: 100%;
            height: 0;
            overflow: hidden;
            transition: height 1s;

            &.on {
                height: 100%;
            }
        }
    }
}

.promotion{
    &__img-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 150px;
        gap: 150px;

        img{
            display: block;
            max-width: 720px;

            @include tablet {
                max-width: 500px;
            }

            @include mobile {
                max-width: 80%;
            }
        }
    }

    &__content{
        position: relative;
        height: 600vh;

        &-inner {
            display: flex;
            align-items: center;
            height: 100vh;
            width: max-content;
            overflow: visible;

            @include tablet {
                flex-direction: column;
            }

            > div,
            > ul {
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100vw;
                height: 100vh;
            }
        }
    }

    &__video-box{
        width: 100%;
        overflow: hidden;

        video {
            width: 100%;
            max-width: 720px;

            @include tablet {
                max-width: 500px;
            }

            @include mobile {
                max-width: 80%;
            }
        }
    }

    &__list {
        position: absolute;
        top:0;
        left:0;
        gap: 30px;
        width: 100vw;
        height: 100%;
        text-align: center;

        @include tablet {
            flex-direction: column;
        }

        .promotion__item{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $color-white;
            gap: 0.9375rem;
            padding: 0.9375rem;

            &-img {
                max-width: 426px;

                @include laptop {
                    max-width: 300px;
                }

                @include mobile {
                    max-width: 250px;
                }
            }

            &-text {
                max-width: 270px;

                @include mobile{
                    max-width: 200px;
                }
            }
        }
    }

    &__order {
        position: relative;
        z-index: 1;
        background: $color-white;

        &-content{
            position: relative;
            &:before,
            &:after{
                content:'';
                position: absolute;
                width: calc(200 / 1920*100vw);
                height: calc(155 / 1920*100vw);

                @include tablet {
                    width: 100px;
                    height: 80px;
                }

                @include mobile {
                    width: 80px;
                    height: 65px;
                }
            }

            &:before{
                background:url(../images/interior-order-01.jpg) no-repeat center center / cover;
                // left:1.5vw;
                // bottom:3.8vw;
                left: 30px;
                bottom: 70px;
                transform: rotate(-5deg);

                @include tablet {
                    left: -45px;
                }

                @include mobile {
                    left: -20px;
                    bottom: -20px;
                }
            }

            &:after{
                background:url(../images/interior-order-02.jpg) no-repeat center center / cover;
                // right:5vw;
                // top:-5vw;
                right: 84px;
                top: -105px;
                transform: rotate(10deg);

                @include laptop {
                    top: -70px;
                }

                @include tablet {
                    top: -60px;
                    right: 0;
                }

                @include tablet {
                    top: -58px;
                }
            }
        }
    }
}

.strength {
    height: 300vh;

    &__list-wrap{
        z-index: 1;
    }

    &__item{
        position: absolute;
        display: flex;
        max-width: 1540px;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        width: 100%;
        height: 100vh;
        top:0;
        left: 50%;
        transform: translateX(-50%);
        
        @include tablet {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            gap: 1.5rem;
        }
        
        &:first-child {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }

        &:not(:first-child) {
            clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
        }

        &-text-box{
            color: $color-white;

            .strength__item-label{
                margin-bottom: 1.25rem;

                @include tablet {
                    margin-bottom: 1rem;
                }
            }
        }

        &-img-box{
            width: calc(512 /1920 * 100vw);
            height: calc(640 /1920 * 100vw);

            @include tablet {
                width: 60%;
                height: 50%;
            }

            @include mobile {
                width: 80%;
                height: 50%;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &-bg-wrap{
            position: absolute;
            top:0;
            width: 100%;

            .strength__item-bg{
                height: 100vh;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}